<header class="main-header">
  <div class="brand">
    <a routerLink="/">
      <img src="assets/petitchat.png" alt="Marmitax Logo" class="logo">
    </a>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Rechercher une recette..." (keyup.enter)="onSearch($event)">
    <i class='bx bx-search search-icon'></i>
  </div>

  <div class="actions">
    <ng-container *ngIf="currentUser$ | async as user; else guestActions">
      <a routerLink="/add-recette" class="add-recipe-btn">Ajouter une recette</a>
      <a *ngIf="user.isAdminDto" routerLink="/admin/notifications" class="admin-bell-btn">
        <i class='bx bxs-bell'></i> 
      </a>
      
      <button (click)="logout()" class="user-profile-btn">
        <i class='bx bx-log-out'></i> Déconnexion
      </button>

    </ng-container>
    <ng-template #guestActions>

      <a routerLink="/login" class="user-profile-btn">
        <i class='bx bx-user'></i> Connexion
      </a>

    </ng-template>

  </div>
</header>