<mat-toolbar color="primary" class="navbar-container">

  <!-- Groupe de gauche (logo + liens principaux) -->
  <div class="nav-left">
    <img src="../../assets/poti-chat.png" class="navbar-logo" routerLink="" alt="Logo Marmitax"/>

    <!-- On utilise mat-button pour des boutons à la taille adaptable -->
    @for (link of mainLinks; track link) {
      <a mat-button routerLink="{{ link.href }}" routerLinkActive="active-link">
        {{ link.name }}
      </a>
    }
  </div>

  <!-- Groupe de droite (liens utilisateur) -->
  <div class="nav-right">
    @if (userLink) {
      <a mat-button routerLink="{{ userLink.href }}" routerLinkActive="active-link">
        {{ userLink.name }}
      </a>
    }
  </div>

</mat-toolbar>
