.navbar-container {
  display: flex;
  justify-content: space-between; /* C'est la propriété clé : elle pousse les éléments enfants aux extrémités */
  align-items: center;
  padding: 0 16px; /* Ajoute un peu d'espace sur les côtés */
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px; /* Ajoute un espace entre le logo et les boutons */
}

.navbar-logo {
  height: 40px; /* Ajustez la taille selon votre image */
  cursor: pointer;
}

/* Style pour le lien actif, routerLinkActive l'ajoutera automatiquement */
.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
