:host {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #EEE2DF;
}

$primary-color: #EEE2DF;
$secondary-color: #EED7C5;
$text-color: #B36A5E;
$font-cursive: 'Dancing Script', cursive;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 15%;
  }

  .search-container {
    position: relative;
    flex-grow: 1;
    margin: 0 1em;
    max-width: 600px;

    input {
      width: 100%;
      padding: 0.9rem 1.5rem;
      border-radius: 30px;
      border: 2px solid transparent;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: $secondary-color;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .add-recipe-btn, .user-profile-btn {
    padding: 0.9rem 1.8rem;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    color: $text-color;
    font-family: $font-cursive;
    font-size: 1.3rem;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
