$font-cursive: 'Dancing Script', cursive;
.add-recette-container {
  display: flex;
  gap: 48px;
  padding: 2rem;
  
  max-width: 1200px;
  margin: 2rem auto;
}

.form-container {
  flex: 1;
}

.recette-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px #EED7C5;
  width: 100%;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #B36A5E;
    font-family: $font-cursive;
    font-size: 2.5rem
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .difficulty-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: flex-start; 
  }

  #difficulty-label {
    margin: 0;
    flex-shrink: 0;
  }

  .star-rating {
    display: flex;
    button {
      color: #ffd740;
    }
  }
 
  button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}

.preview-container {
  flex: 0 0 400px;
  
  position: sticky;
  top: 2rem;

  h4 {
    margin-top: 0;
    color: #B36A5E;
    margin-bottom: 1rem;
  }
}

.image-preview {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #EED7C5;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  object-fit: cover; 
  height: auto;
}