$font-cursive: 'Dancing Script', cursive;

:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: sans-serif;
}

.form-container {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px #EED7C5;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #B36A5E;
    font-family: 'Dancing Script', cursive;
  }
}

.form-group {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #B36A5E;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #B36A5E;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
}

.ingredient-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;

  .form-control {
    flex: 1;
  }
}

.btn-remove, .btn-add {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.2s;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-remove {
  background-color: #B36A5E;
}

.btn-add {
  background-color: #B36A5E ;
  margin-top: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &[type="submit"] {
      background-color: #8ca968;
      color: white;

      &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
      }
    }

    &[type="button"] {
      background-color: #EED7C5;
      color: #B36A5E;
    }
  }
}
